# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Virtual environments
venv/
env/
.venv/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Distribution / build
dist/
build/
*.egg-info/
